<h1>Tour</h1>

<div class="container">

<h2>Use hyggelig.org to plan:</h2>

<ul>
<li>parties</li>
<li>user group or club meetings</li>
<li>gaming nights</li>
<li>sports events</li>
<li>camping or other outdoor trips</li>
<li>your relocation</li>
</ul>

<h2>Do all that without...</h2>

<ul>
<li>...losing overview of who's coming</li>
<li>...knowing who else is coming</li>
<li>...having to sync yet another address book online</li>
<li>...signing up or logging in</li>
<li>...Evite</li>

</ul>

</div>
