<h1>How to use <%= SITE_NAME %></h1>

<div class="container tour">

<h2>It's as easy as:</h2>

<ol id="steps">
<li>Create an event page<br />by filling in the form<br /><a href="/homepage.png" class="screenshot" style="background:url(/homepage.png) -245px -140px no-repeat;"></a></li>
<li>Send its address to people<br /> you want to invite<br /><a href="/eventpage.png" class="screenshot" style="background:url(/eventpage.png) -160px -30px no-repeat;"></a></li>
<li>Keep track of who's coming, helping or participating<br /><a href="/eventpage.png" class="screenshot" style="background:url(/eventpage.png) -420px -120px no-repeat; "></a></li>
</ol>

<h2 id="create-now"><%= link_to 'Create an event page now', home_path %></h2>

<h2>Use <%= SITE_NAME %> to plan your next...</h2>

<ul>
<li>birthday party</li>
<li>user group or club meeting</li>
<li>gaming night</li>
<li>sports event</li>
<li>camping or other outdoor trip</li>
<li>relocation</li>
</ul>

<h2>Your benefits:</h2>

<dl id="benefits">
<dt>Better overview</dt>
<dd>Host and guests can <strong>see who's coming</strong> at a glance</dd>
<dd>Use the integrated <strong>RSS feed</strong></dd>
<dt>Integrates well with your workflow</dt>
<dd>Send out invitations <strong>the way you want</strong>, using <strong>your favorite mailer</strong></dd>
<dd><strong>Not another online address book</strong> to manage</dd>
<dt>For privacy advocates</dt>
<dd>Data you share <strong>expires automatically</strong> and is deleted permanently from the database</dd>
<dd>Share as much information as you're comfortable with</dd>
<dt>Running on free software</dt>
<dd>Download the software and <strong>host it yourself</strong> for maximum privacy</dd>
<dd>Tailor it to <strong>your specific needs</strong></dd>
</dl>

</div>