body { background-color: #fff; color: #333; }

body {
  font-family:Georgia, 'Times New Roman', serif;
  font-size:   1.0em;
  line-height: 1.5em;
}

h1, h2, h3 {
  font-family: helvetica, verdana, arial, sans-serif;
}

h1 {
  text-align:center;
}

body {
  width:60%;
  min-width:500px;
  margin:auto;
  padding-top:20px;
  background-color: #FFF9D8;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  list-style: square;
}

#errors {
  border: 2px solid red;
  background-color:#fff;
  margin-bottom:20px;
}

label {
  display:block;
  font-size:1.0em;
}

input[type=text], input[type=radio] {
  padding: 5px;
}

input {
  font-size:1.0em;
}

dl input[type=text] {
  width:100%;
}

dl, #instructions {
  width:25em;
  margin:auto;
}

dt {
  margin-top:15px;
}

form dd {
  margin:0;
}

.hevent {
  font-size:1.0em;
}

.location, .date {
  background-color:#ff5;
}

li.confirmed {
  background-color: rgb(204, 255, 153);
  border-top:1px solid rgb(102, 153, 0);
}

li.declined {
  background-color: rgb(255, 158, 158);
  border-top:1px solid rgb(170,0,0);
}

ul#guest_list {
  list-style-type:none;
  padding:0 0 0 10px;
  line-height:1.3em;
}

#guest_list li {
  padding:5px 20px;
}

a img {
  border:none;
  margin-bottom:0.05em;
}

.rsvp label {
  display:inline;
}

.rsvp, .guestlist {
  padding:0 10px;
}

.guestlist {
  float:left;
}

.rsvp {
  width:18em; float:left; 
  background-color:#E3F1F6;
  border:1px solid #ccc;
  margin-right:10px;
  padding-bottom:10px;
}

#details {
  font-size:1.2em;
  line-height:1.3em
}

.bubble {
  background:white; 
  padding:10px 10px;
  margin:0 0 10px 0;
  border:1px solid #ccc;
  z-index:0;
}

.bubble p {
  margin:0;
  padding:0;
}

.tip {
  margin:0 0 -2px 0; 
  position:relative;
  z-index:999;
  padding: 0 0 10px 0;
  background:url(/images/tip.gif) no-repeat 20px bottom;
}