body {
  font-family:Georgia, 'Times New Roman', serif;
  font-size:   1.0em;
  line-height: 1.5em;
  padding:20px 0 0 0;
  margin:0;
  color: #333;
  background-color: #FFF9D8;
}

h1, h2, h3 {
  font-family: helvetica, verdana, arial, sans-serif;
}

h1 {
  text-align:center;
}

.container, #flash {
  width:60%;
  min-width:500px;
  margin:auto;
}

#flash {
  border:1px solid #f00;
  background-color:#fff;
  color:green;
  text-align:center;
  padding:5px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.fieldWithErrors {
  padding: 2px;
  background-color: #c00;
  display: table;
  color:#FFF9D8;
}

.formError {
  color:#c00;
  font-style:italic;
  padding-left:10px;
}

#errorExplanation {
  border:1px solid #c00;
  background-color:#fff;
  text-align:center;
  padding:5px;
  color:#c00;
  font-size:1.0em;
  margin-top:10px;
}

#errors {
  border: 2px solid #c00;
  background-color:#fff;
  margin-bottom:20px;
  text-align:center;
  padding:2px;
}

#errors ul {
  text-align:left;
  margin:0;
}

label {
  display:block;
  font-size:1.0em;
}

input[type=text], input[type=radio] {
  padding: 5px;
}

input {
  font-size:1.0em;
}

dl, #instructions {
  width:27em;
  margin:auto;
}

dt {
  margin-top:15px;
}

dt.note {
  background-color:#E3F1F6;
  border:1px solid #ccc;
  padding:5px;
}

form dd {
  margin:0;
}

.hevent {
  font-size:1.0em;
}

.location, .date {
  background-color:#ff5;
}

li.confirmed {
  background-color: rgb(204, 255, 153);
  border-top:1px solid rgb(102, 153, 0);
}

li.declined {
  background-color: rgb(255, 158, 158);
  border-top:1px solid rgb(170,0,0);
}

ul#guest_list {
  list-style-type:none;
  padding:0 0 0 10px;
  line-height:1.3em;
}

#guest_list li {
  padding:5px 20px;
}

a img {
  border:none;
  margin-bottom:0.05em;
}

.rsvp label {
  display:inline;
}

.rsvp, .guestlist {
  padding:0 10px;
  margin-bottom:20px;
}

.guestlist {
  width:45%;
  min-height:300px;
  float:right;
}

.rsvp {
  width:40%;
  float:left;  
  background-color:#E3F1F6;
  border:1px solid #ccc;
  margin-right:10px;
  padding-bottom:10px;
}

#details {
  font-size:1.2em;
  line-height:1.3em
}

.bubble {
  background:white; 
  padding:10px 10px;
  margin:0 0 10px 0;
  border:1px solid #ccc;
  z-index:0;
}

.bubble p {
  margin:0;
  padding:0;
}

.tip {
  margin:0 0 -2px 0; 
  position:relative;
  z-index:999;
  padding: 0 0 10px 0;
  background:url(/images/tip.gif) no-repeat 20px bottom;
}

.footer {
  clear:both;
  background-color:#fff;
  text-align:center;
  padding:10px 100px;
  margin-top:50px; 
  border-bottom:1px solid #FFE8CD; 
  border-top:1px solid #FFE8CD;
  margin-bottom:10px;
}